@import "color";

html,
body {
  padding: 0;
  margin: 0;
  background: $background !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #323539 !important;
}

.nav-link {
  color: #323539 !important;
}

* {
  box-sizing: border-box;
}

.form-control:focus {
  box-shadow: none !important;
}

main {
  min-height: 73vh;
}

.btn:focus {
  outline: none;
  box-shadow: none !important;
}

.btn {
  box-shadow: none !important
}

.btn-primary{
  color: #ffffff;
  &:hover{
    color: #ffffff;
  }
}
.btn-outline-primary{
  &:hover{
   background-color: #ffffff;
    color: $primary-color;
  }
}

.ant-modal-mask {
  background-color: transparent !important;
}
.ant-modal-content{
  background-color: #ffffff !important;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.btn-secondary:hover{
  color: #ffffff !important;
}
.btn-primary :hover{
  color:#ffffff !important;
}

.register_btn:hover{
  color: #ffffff !important;
}



.section {
  position: relative;
  height: 100vh;
}
.logout:hover{
  color: #ffffff !important;
}
.section .section-center {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.hoverable:hover{
  cursor: pointer !important;
}

#hero {
  font-family: 'Montserrat', sans-serif;
  background-image: url('https://part-time-api-users-bk.s3.amazonaws.com/images/interview-g551a5628f_1920.jpg');
  background-size: cover;
  background-position: center;
}
.cta-btn:hover{
  color: #ffffff !important;
}
#hero::before  {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(47, 103, 177, 0.2);
}

.hero-cta h1 {
  font-size: 52px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}

.hero-cta p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}